##extracted large test dataset
test/lage-network/

#hash objects
net/hash_obj

#GSL library
external_lib/gsl
external_lib/gsl-*

#readline
external_lib/readline
external_lib/readline-*/
external_lib/termcap
external_lib/termcap-*/

#generated hash files
makeHashTable/phash.*

#binaries
out/
bin/pgmlab

# Object files
*.o

# Shared objects (inc. Windows DLLs)
*.dll
*.so

#vim files
*.swp
*.swo

#OS X files
.DS_Store

#net library
net/lib

#This is is for securing the websocket each implementation should generate it's own
wamp/.crossbar/pgmlab.pem

#python compiled files
*.pyc


#node file for running process
www/klein/.crossbar/*
www/celery/.crossbar/*
*/.crossbar/node.pid
*/.crossbar/node.key
*/.crossbar/key.priv
*/.crossbar/key.pub

www/node_modules/

#tmp files created from running PGMLab
tmp/*
